@font-face {
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SFPRODISPLAYREGULAR.woff') format('woff');
    }
    
@font-face {
        font-family: 'SF Pro Display Medium';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/SFPRODISPLAYMEDIUM.woff') format('woff');
        }
        
@font-face {
        font-family: 'SF Pro Display Thin Italic';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/SFPRODISPLAYTHINITALIC.woff') format('woff');
        }


@font-face {
        font-family: 'SF Pro Display Light';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/ SF Pro Display Light.woff') format('woff');
        }

        
@font-face {
    font-family: 'SF Pro Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/ SFProDisplay-Ultralight.woff') format('woff');
    }

        
    @font-face {
        font-family: 'SF Pro Display Thin';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/ SFProDisplay-Thin.woff') format('woff');
        }

body {
    font-family: 'SF Pro Display Regular';
    font-size: 16px;
}

.container-fluid-max {
  max-width: 1440px;
}

.bg-red {
    background-color: #F01A26;
}

.navbar-nav .nav-item .nav-color {
    font-family: 'SF Pro Display Medium';
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 10px 4px 12px rgba(26, 26, 26, 0.8);
}

.navbar li {
    margin-left : 1em;
    margin-right : 1em;
}

.dropdown-menu a {
    color: #797979;
    font-size: 18px;
    letter-spacing: 0.05em;;
}
.hero {
    background: url(../img/image.png) no-repeat center;
    background-size: cover;
    height: 612px;
    position: relative;
    z-index: -1;
}

.hero-btn {
    max-width: 241px;
    background-color: rgba(236, 28, 36, 0.5);
    padding: 8px 40px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(26, 26, 26, 0.25);
    z-index: -2;
}

.hero-icons {
    margin-top:20px;
    padding: 4px 20px;
    border: 1px solid #EC1C24;
    border-radius: 0 0 10px 10px;
}
.hero-icons img {
    width: 25px;
    margin: 10px;
}

.reg {
    display: flex;
    justify-content: end;
    margin-bottom: 21px;
    padding-top: 24px;
    position: relative;
    font-family: 'SF Pro Display Light';
    font-size: 15px;   
    color: #FFFFFF;   
}

.reg-item img {
    margin-right: 12px;
}
.reg-item img, .reg-item span {
    vertical-align: middle;
}

.reg-text {
    margin-right: 44px;
}

.services-titles {
    margin-top: 32px;
    margin-bottom: 15px;
}
.services-header, .about-header {
    text-align: center;
    font-size: 30px;
    color: #EC1C24;
}

.services-text, .about-text {
    text-align: center;
    color: rgba(26, 26, 26, 0.9);
    font-size: 20px;
}

.services-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 46px auto 41px;
}
.services-body {
    max-width: 257px;
    margin-top: 20px;
}

.services-img {
    max-width: 100%;
}

.services-title {
    text-align: center;
    color: rgba(33, 37, 41, 0.6);
    font-size: 20px;
    padding: 4px 38px;
    margin-top: 20px;
}

.about {
    background-color: #E5E5E5;
    padding-top: 2rem;
}

.about-card-header {
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgba(26, 26, 26, 0.9);
}

.about-card-text {
    font-family: 'SFProDisplay-Ultralight';
    font-size: 12px;
    color: #000000;
    line-height: 14px;
}

.about-body {
    max-width: 203px;
    min-height: 203px;
    text-align: center;
    background-color: #FFFFFF;
    border: 0.5px solid #C4C4C4;
    border-radius: 10px;
    padding: 14px;
    margin: 40px auto 70px;
}

.about-body:hover{
    background-color: #F01A26;
    box-shadow: 8px 4px 4px 0px rgba(0,0,0,0.25);
}
.about-body:hover .about-card-header, 
.about-body:hover .about-card-text {
    color: #FFFFFF;
}

 .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
  }
  .about-body:hover .icon,
  .about-body:focus .icon {
    filter:  brightness(0) invert(1);
  }

.partners {
    padding-top: 32px;
    padding-bottom: 37px
}
.partners-header {
    font-family: 'SF Pro Display Medium';
    font-size: 30px;
    color: #F01A26;
    padding-bottom: 40px;
}

.slide-p {
    padding-left: 50px;
    padding-right: 50px;

}

.partner-img img {
    width: 100%;
    display: inline-block;
    
}
 
.slick-prev {
    left: -25px;
}

.slick-prev:before {
    content: url(../img/prev.png);
    width: 20px;
    height: 20px;
}

.slick-next:before {
    content: url(../img/next.png);
    width: 20px;
    height: 20px;
}

.partner-img {
    display: flex;
    height: 140px;
    align-items: center;
}

footer {
    background-color: #E5E5E5;
    min-height: 262px;
    padding: 38px 79px 32px;
}

.footer-logo {
    width: 183px;
}

.footer-logo img {
    width: 100%;
}

.footer-text {
    font-family: 'SFProDisplay-Thin';
    font-size: 16px;
    color: #1A1A1A;
    margin-top: 35px;
    margin-bottom: 27px;
}
.footer-text2 {
    font-family: 'SFProDisplay-Thin';
    font-size: 15px;
    color: #1A1A1A;
    letter-spacing: 0.09em;
    padding-top: 7px;
}

.icon-fb {
    display: inline-block;
    margin: 0px 4px;
}

@media (max-width: 1200px) { 
.services-body {
margin: 40px auto;
} 
.partner-img {
   height: 170px;
  }
}

@media (max-width: 992px) { 
    .services-body {    
    margin: 40px auto;
    }
 }

@media (max-width: 768px) { 
    .services-body {
    margin: 20px auto;
}
    .slide-p {
    padding-left: 70px;
    padding-right: 70px;
}
.partner-img {
   height: 168px;
  }
}

@media (max-width: 576px) { 
    .slide-p {
        padding-left: 40px;
        padding-right: 40px;
    }
    .services-body {
    margin: 10px auto;
    }
    .partner-img {
    height: 140px;
    }
 }